<h2 style="text-align: center; margin-top: 50px;">Scoreboard</h2>
<div class="grid grid-pad">
  <table mat-table [dataSource]="scoreboard" class="mat-elevation-z8">

    <ng-container matColumnDef="sport">
      <th mat-header-cell *matHeaderCellDef> Sport </th>
      <td mat-cell *matCellDef="let score"> {{score.sport}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="playerA">
      <th mat-header-cell *matHeaderCellDef> Player A </th>
      <td mat-cell *matCellDef="let score"> {{score.PlayerA.name}} </td>
    </ng-container>

    <ng-container matColumnDef="playerB">
      <th mat-header-cell *matHeaderCellDef> Player B </th>
      <td mat-cell *matCellDef="let score"> {{score.PlayerB.name}} </td>
    </ng-container>

    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef>Score A:B</th>
      <td mat-cell *matCellDef="let score">{{score.PlayerA.sets}} : {{score.PlayerB.sets}}</td>
    </ng-container>

    <ng-container matColumnDef="temperature">
      <th mat-header-cell *matHeaderCellDef>Temperature</th>
      <td mat-cell *matCellDef="let score">
        <span *ngIf="score.temperature !== undefined">{{score.temperature.toFixed(1)}}°C</span>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
