h3 {
  text-align: center;
  margin: 5px;
}

.game-input-field {
  width: 200px;
}

.grid {
  width: 80%;
  margin: auto;
  text-align: center;
}

.mat-elevation-z8 {
}

.input-div {
  width: 100%;
  height: 100%;
  padding: 10px;
}

@media (max-width: 700px) {
  .grid {
    width: 100%;
  }
}
